.quiz_container { width: 400px; margin: 100px auto; padding: 20px; background: white; box-shadow: 0 0 10px rgba(0,0,0,0.1); border-radius: 8px; }
input[type="text"], button { width: 100%; padding: 10px; margin-top: 10px; border-radius: 5px; border: 1px solid #ccc; }
button { background: #0d180eff; color: white; border: none; cursor: pointer; }
button:hover { background: #45a049; }
.error { color: red; margin-top: 10px; }


.title {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 28px;
}

.quiz-table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
}

.quiz-table th, .quiz-table td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #eee;
}

.quiz-table td, th {
    background: white;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.quiz-table tr:hover {
    background: #f1f1f1;
}

.btn {
    background: #4CAF50;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.btn:hover {
    background: #45a049;
}









